<footer>
    <div class="site-footer">
        <div class = "footer-links" >
            <a href="{{ .Site.Params.github }}" target="_blank">
                <span class="icon github-icon"></span>
            </a>
            <a href="{{ .Site.Params.email }}">
                <span class="icon email-icon"></span>
            </a>
            <a href="{{ .Site.Params.linkedin }}">
                <span class="icon linkedin-icon"></span>
            </a>
            <a href="{{ .Site.Params.rss }}">
                <span class="icon rss-icon"></span>
            </a>


        </div>
    </div>
</footer>
