{{ define "main" }}
<div class="posts-list-container">
    <h1>{{ .Title }}</h1>
    
    {{ range $i, $post := .Pages }}
    <article class="blog-post-preview">
        <h2 style="font-weight: normal">
            <a href="{{ $post.RelPermalink }}" style="color: var(--nav-color-{{ mod $i 7 }})">{{ $post.Title }}</a>
        </h2>
        <time class="post-date">{{ $post.Date.Format "January 2, 2006" }}</time>
        <div class="post-summary">{{ $post.Summary }}</div>
    </article>
    {{ end }}
</div>
{{ end }}
